---
daemon:
  interval: 10
  max_retries: 5
  ui: false

detectors:
  aws:
    region: "us-east-1"
  static:
    inventory:  ./examples/inventory.ini

rules:

  - name: "install-nginx"
    playbook: "./examples/ansible/playbooks/nginx.yml"
  

groups:
  production-web:
    name: "test"
    match:
      aws_region : "us-east-1"
    rules:
      - "install-nginx"
    vars:
      ansible_user: "ubuntu"
      ansible_python_interpreter: "/usr/bin/python3"